---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/7c2dca1445a0479c893d004437bee80d/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4c6-uAkX2j819ihfZOP0iABDYOoGGsQ"
      x-notion-request-id:
      - 383ab355-09d5-48b8-8946-9ef846a13544
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"5346b5dc-aa0d-4f4d-8fc4-e86dc9f67ded","created_time":"2022-10-13T06:35:00.000Z","last_edited_time":"2024-09-06T16:31:00.000Z","created_by":{"object":"user","id":"1c50cedd-3213-43e0-843e-59dbf973e1e9"},"last_edited_by":{"object":"user","id":"1c50cedd-3213-43e0-843e-59dbf973e1e9"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"7c2dca14-45a0-479c-893d-004437bee80d"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"AULx","type":"multi_select","multi_select":[{"id":"dbbde393-82ed-428d-aac0-85b10424f8b9","name":"Notion","color":"green"}]},"Create
        Time":{"id":"c%5BM%40","type":"date","date":{"start":"2024-09-07","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Notion使用","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Notion使用","href":null}]}},"url":"https://www.notion.so/Notion-5346b5dcaa0d4f4d8fc4e86dc9f67ded","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"383ab355-09d5-48b8-8946-9ef846a13544"}'
  recorded_at: Tue, 08 Oct 2024 15:12:28 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5346b5dc-aa0d-4f4d-8fc4-e86dc9f67ded/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"28fea-+/H0qG59dEtTDHasp1lqRxriGGE"
      x-notion-request-id:
      - cbf15af9-4ab6-4493-9e5c-8d7ef0750033
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"11293a8c-4567-467f-b0a3-2e8e521bddb1\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"5346b5dc-aa0d-4f4d-8fc4-e86dc9f67ded\"},\"created_time\":\"2022-10-13T06:37:00.000Z\",\"last_edited_time\":\"2022-10-13T06:37:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"1c50cedd-3213-43e0-843e-59dbf973e1e9\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"1c50cedd-3213-43e0-843e-59dbf973e1e9\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Note:\",\"link\":null},\"annotations\":{\"bold\":true,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Note:\",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\" You'll
        see \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\" You'll
        see \",\"href\":nu[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/933c2a0f-8939-4dad-9274-f1bad8b96645/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f4-9YIhsYi++kzpRGvU7OoJO1oKgYE"
      x-notion-request-id:
      - 63302aeb-658e-435a-8946-9d34b5f39f76
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"7b3e3f8e-a93b-4300-8cd7-b9e741d8ecdd","parent":{"type":"block_id","block_id":"933c2a0f-8939-4dad-9274-f1bad8b96645"},"created_time":"2022-10-13T06:37:00.000Z","last_edited_time":"2022-10-13T06:37:00.000Z","created_by":{"object":"user","id":"1c50cedd-3213-43e0-843e-59dbf973e1e9"},"last_edited_by":{"object":"user","id":"1c50cedd-3213-43e0-843e-59dbf973e1e9"},"has_children":false,"archived":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Use
        this shortcut to change the type of block, the color, or to edit, duplicate,
        or move the block. You''ll see a text box at the top of the menu that pops
        up. Just type the action, block or color you want.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Use
        this shortcut to change the type of block, the color, or to edit, duplicate,
        or move the block. You''ll see a text box at the top of the menu that pops
        up. Just type the action, block or color you want.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"63302aeb-658e-435a-8946-9d34b5f39f76"}'
  recorded_at: Tue, 08 Oct 2024 15:12:35 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/5346b5dc-aa0d-4f4d-8fc4-e86dc9f67ded
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"454-hmeM6zXbBSmETzhxIiQAIMCccEI"
      x-notion-request-id:
      - 9ebfa621-dad5-[...]
[...]
